automata.py
reporte.txt
reporte2.txt
Grafo Declaracion_Variable.jff
Grafo Declaracion_Variable Copia.jff
223204 Gallegos Borraz_C1.A2.PDF
223204 Gallegos Borraz_C1.A2.zip
223204 Gallegos Borraz_C1.A3.PDF
223204 Gallegos Borraz_C1.A3.zip
